*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(124, 124, 227);   
}
.container{
    border: 4px solid rgb(106, 106, 171);
    height: 300px;
    width: 250px;
    margin: auto;
    position: relative;
    top: 100px;
}
.display{
    background-color: rgb(166, 176, 176);
    height: 50px;
    text-align: center;
    font-size: 2.5rem;
}
.btn,.displayZero{
    background-color: rgb(83, 80, 80);   
    color: white;
    width: 50px;
    height: 30px;
    margin: 2px;
    border: 2px solid gray;
    border-radius: 5px;
}
.numbers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
}